# Avoiding to upload the cache
__pycache__

# Avoiding to upload the datasets
data/*

# Avoid to upload the cache
cache

# Avoid to upload the logs
wandb

# Avoid to upload the model
weights

# Avoid uploading WANDB API Key
wandb_api_key.txt
